In [23]:
# Import pandas and plotting modules
import pandas as pd
import matplotlib.pyplot as plt

# Convert the date index to datetime
diet= pd.read_csv(r"D:\Asus\Documents\multiTimeline (2).csv")
diet.head(5)
# pd.to_datetime(diet["Date"])
diet.columns
diet.describe
type(diet)
print(diet.iloc[1,:])
print(diet.columns)
print(diet.index)

Category: All categories    66
Name: 2011-06-26, dtype: object
Index(['Category: All categories'], dtype='object')
Index(['Week', '2011-06-26', '2011-07-03', '2011-07-10', '2011-07-17',
       '2011-07-24', '2011-07-31', '2011-08-07', '2011-08-14', '2011-08-21',
       ...
       '2016-04-17', '2016-04-24', '2016-05-01', '2016-05-08', '2016-05-15',
       '2016-05-22', '2016-05-29', '2016-06-05', '2016-06-12', '2016-06-19'],
      dtype='object', length=262)

In [24]:
diet.head(5)

           Category: All categories
Week              diet: (Worldwide)
2011-06-26                       66
2011-07-03                       67
2011-07-10                       74
2011-07-17                       73

In [25]:
type(diet)

pandas.core.frame.DataFrame

In [26]:
diet.columns

Index(['Category: All categories'], dtype='object')

In [27]:
diet.index

Index(['Week', '2011-06-26', '2011-07-03', '2011-07-10', '2011-07-17',
       '2011-07-24', '2011-07-31', '2011-08-07', '2011-08-14', '2011-08-21',
       ...
       '2016-04-17', '2016-04-24', '2016-05-01', '2016-05-08', '2016-05-15',
       '2016-05-22', '2016-05-29', '2016-06-05', '2016-06-12', '2016-06-19'],
      dtype='object', length=262)

In [28]:
diet=diet.iloc[1:,:]

In [29]:
diet.head(5)

           Category: All categories
2011-06-26                       66
2011-07-03                       67
2011-07-10                       74
2011-07-17                       73
2011-07-24                       72

In [30]:
diet.index

Index(['2011-06-26', '2011-07-03', '2011-07-10', '2011-07-17', '2011-07-24',
       '2011-07-31', '2011-08-07', '2011-08-14', '2011-08-21', '2011-08-28',
       ...
       '2016-04-17', '2016-04-24', '2016-05-01', '2016-05-08', '2016-05-15',
       '2016-05-22', '2016-05-29', '2016-06-05', '2016-06-12', '2016-06-19'],
      dtype='object', length=261)

In [31]:
diet.index= pd.to_datetime(diet.index)

In [32]:
diet.head(5)

           Category: All categories
2011-06-26                       66
2011-07-03                       67
2011-07-10                       74
2011-07-17                       73
2011-07-24                       72